[Unit]
Description=Gunlinuxbot Donats getter Service
After=network.target docker.service
Requires=docker.service

[Service]
Restart=always
RestartSec=5
ExecStartPre=-/usr/bin/docker rm -f donats-getter
ExecStart=/usr/bin/docker run --rm --name donats-getter --network host --env-file /home/loki/projects/bot/bot_redonats/.env -v @CURRENCIES_PATH@:/app/currencies.json:ro gunlinuxloki/bot_redonats:@IMAGE_TAG@
ExecStop=/usr/bin/docker stop donats-getter

[Install]
WantedBy=multi-user.target
