[Unit]
Description=Gunlinuxbot donats Worker Service
After=network.target docker.service
Requires=docker.service

[Service]
Restart=always
RestartSec=5
ExecStartPre=-/usr/bin/docker rm -f donats-worker
ExecStart=/usr/bin/docker run --rm --name donats-worker --network host --env-file /home/loki/projects/bot/bot_redonats/.env gunlinuxloki/bot_redonats:@IMAGE_TAG@ uv run --no-sync donats_worker.py
ExecStop=/usr/bin/docker stop donats-worker

[Install]
WantedBy=multi-user.target
